{% extends 'Squelette/base_complete.html.twig' %}
{% block vue %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <tr>
            <th>Login</th>
            <th>Mot de passe</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Roles</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.password }} </td>
            <td>{{ u.nom }}</td>
            <td>{{ u.prenom }}</td>
            <td>{{ u.dateNaissance | date('d-m-Y') }}</td>
            <td>{{ u.roles | join(',') }}</td>
            <td>
                {% if u is not same as (app.user) and not u.is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('utilisateur_delete',{id : u.id}) }}">Supprimer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}